body{
    background-color: #a9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav{
    width: 100vw;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-style{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-mobile{
    background-color: aqua;
     justify-content: flex-start;
}

.email-tablet{
    border: 5px red solid;
    background-color: #a9a9a9;
    justify-content:space-evenly;
    flex-direction: column;

}

.uremail{
    background-color: #E9EDC9;
    width: 30vw;
    height: 15vh;
}

.email-desktop{
    background-color:green ;
}
ul{
    text-align: left;
    font-size: 25px;
    list-style-type: none; 
    text-decoration: underline;
    
}
